# Add any directories, files, or patterns you don't want to be tracked by version control
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.localhistory/
.vs/
build/
obj
*.idb
*.tlog
*.db
*.log
*.ilk
*.ilk
*.pdb
*.exp
*.iobj
*.ipdb

*.wasm